body {
  background-color: linen;
  color: red;
  margin-left: 50px;
  margin-right: 50px;
}

hr {
  height: 5px;
  background-color: grey;
  border: solid red;
}

button:hover {
  color: red;
  background-color: : yellow;
}
